@import '../../../scss/variables';

.chat {
  padding: 40px 56px 0 56px;

  &__container {
    margin-top: 25px;
  }
}

.chat-contacts {
  min-width: 416px;
  border-right: 1px solid $gray-30-color;
  &__search {
    padding: 14px 24px;
    border: 1px solid $gray-50-color;
    border-radius: 16px;
    width: 100%;

    &--label {
      font-size: 1.25rem;
      color: $gray-50-color;
      line-height: 0;
    }

    &--input {
      font-size: 0.875rem;
      color: $gray-100-color;
      margin-left: 16px;
      width: 100%;
      &::placeholder {
        color: $gray-70-color;
        font-size: 0.875rem;
      }
    }
  }

  &__header {
    padding-bottom: 16px;
    padding-right: 24px;
    border-bottom: 1px solid $gray-30-color;
  }
}

.chat-users {
  padding: 22px 23px 54px 0;

  &__header {
    &--logo {
      line-height: 0;
      font-size: 1.25rem;
    }
  }

  &__list {
    margin-top: 15px;
  }

  &__item {
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 16px;
    align-items: stretch;
    &--selected {
      background-color: $additional-gray-1-color;
    }
  }

  &__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-self: center;
  }

  &__title {
    display: inline-block;
  }

  &__info {
    margin-left: 15px;
  }

  &__new-chat-info {
    margin-left: 15px;
    border-top: 1px solid $gray-50-color;
    border-bottom: 1px solid $gray-50-color;
    padding: 16px 0;
    width: 100%;
  }

  &__msg {
    margin-top: 4px;
    font-size: 0.875rem;
    color: $gray-70-color;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    max-width: 241px;
  }

  &__messages {
    background-color: $primary-color;
    width: 24px;
    text-align: center;
    height: 24px;
    border-radius: 50%;
    line-height: 2;
  }

  &__new-chat-logo {
    font-size: 2rem;
    background-color: $primary-color;
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
  }
}

.chat-messages {
  width: 100%;
  position: relative;
  padding-bottom: 150px;
  &__header {
    padding: 11px 32px;
    border-bottom: 1px solid $gray-30-color;
    
  }
  
  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
  }

  &__status {
    margin-top: 4px;
    font-size: 0.875rem;
    color: $gray-70-color;
  }

  &__info {
    margin-left: 16px;
  }

  &__settings {
    cursor: pointer;
    font-size: 1.5rem;
  }

  &__body {
    height: 450px;
    padding-left: 24px;
    overflow-y: auto;
  }

  &__no-msgs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 48px 73px;
    border-radius: 16px;
    background-color: $additional-gray-1-color;

    &--text {
      margin-top: 17px;
      font-size: 0.875rem;
      color: $gray-70-color;
      max-width: 246px;
    }
  }

  &__footer {
    padding: 11px 32px;
  }

  &__msg {
    padding: 18px 30px;
    border: 1px solid $gray-50-color;
    border-radius: 16px;
    width: 100%;

    &--attach, &--send {
      font-size: 1.25rem;
      color: $gray-70-color;
      line-height: 0;
    }

    &--send {
      margin-left: 24px;
    }

    &--input {
      font-size: 1rem;
      color: $gray-100-color;
      margin-left: 24px;
      width: 100%;
      &::placeholder {
        font-weight: 700;
        color: $gray-70-color;
        font-size: 1rem;
      }
    }
  }

  &__msgs {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
  }

  &__msg-sender {
    margin-top: 10px;
    align-self: flex-end;
    &--time {
      font-size: 0.75rem;
      font-weight: 400;
      text-align: right;
    }

    &--text {
      font-size: 0.875rem;
      border-radius: 16px;
      padding: 10.5px 24px;
      background-color: #FFF7AD;
      color: $gray-70-color;
    }
  }

  &__msg-receiver {
    margin-top: 10px;
    align-self: flex-start;
    &--time {
      font-size: 0.75rem;
      font-weight: 400;
    }

    &--text {
      font-size: 0.875rem;
      border-radius: 16px;
      padding: 10.5px 24px;
      background-color: #FFF7AD;
      color: $gray-70-color;
    }
  }
}