@import '../../scss/variables';

.registration {
  padding-top: 80px;
  padding-bottom: 150px;
  &__info {
    max-width: 420px;
    margin-top: 105px;

    &-text {
      margin-top: 40px;
      color: $gray-70-color;
    }
  }

  &__form {
    margin-left: 10%;
  }
}

.registration-form {
  &__subtitle {
    margin-top: 15px;
    color: $gray-70-color;
  }

  &__content {
    margin-top: 40px;
  }

  &__field {
    & > h4 {
      color: $gray-70-color;
    }

    & + & {
      margin-top: 32px;
    }
  }

  &__input {
    & + & {
      margin-left: 24px;
    }
  }

  &__name, &__surname, &__email, &__password, &__password-check {
    min-width: 310px;
  }

  &__submit {
    max-width: 310px;
  }

  &__date-birth {
    max-width: 200px;
  }

  &__year-birth, &__month-birth, &__date-birth {
    max-width: 88px;
  }
}

.registration-form-field {
  &__genders {
    margin-top: 16px;
  }
}

.input-gender {
  padding: 24px 74px 26px 24px;
  border-radius: 8px;
  background-color: $additional-gray-1-color;

  &__border {
    border: 1px solid #000000;
  }

  & + & {
    margin-left: 24px;
  }

  & [type="radio"]:checked, & [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  & [type="radio"]:checked + &__label, & [type="radio"]:not(:checked) + &__label {
    position: relative;
    padding: 3px 0 0 40px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 4px;
  }

  &__label:before, &__label:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  & [type="radio"]:checked + &__label:before, & [type="radio"]:not(:checked) + &__label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #fff;
  }

  & [type="radio"]:checked + &__label:after, & [type="radio"]:not(:checked) + &__label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $secondary-color;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    transition: all .2s ease;
  }

  & [type="radio"]:not(:checked) + &__label:before {
    border: 1px solid $gray-50-color;
  }

  & [type="radio"]:checked + &__label:before {
    border: 1px solid $secondary-color; 
  }

  & [type="radio"]:not(:checked) + &__label:after {
    opacity: 0;
    transform: scale(0);
  }

  & [type="radio"]:checked + &__label:after {
    opacity: 1;
    transform: scale(1);  
  }
}