@import '../../scss/variables';

.unuauthorized {
  padding: 200px 0 260px 39.2%;

  &__secondary-title {
    font-size: 16px;
    color: $gray-70-color;
  }

  &__title {
    margin-top: 10px;
  }

  &__text {
    margin-top: 25px;
    max-width: 425px;
    color: $gray-70-color;
  }

  &__btns {
    margin-top: 25px;
  }

  &__btn {
    min-width: 200px;

    & + & {
      margin-left: 24px;
    }
  }
}