@import '../../scss/variables';

.dropdown {
  position: relative;

  &__panel {
    border: 1px solid $gray-30-color;
    border-radius: 16px;
    padding: 12px 16px;
    background: #fff;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &--info {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    z-index: 9999;
  }

  &__option {
    border-radius: 16px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    &:hover {
      background: $gray-30-color; 
    }
  }

  &__icon {
    color: $gray-30-color;
    margin-right: 8px;
    line-height: 0;
  }

  &__btn {
    font-size: 1.4rem;
    color: $gray-30-color;
  }
}

