@import '../../scss/variables';

.password-recovery {
  padding-top: 130px;
  padding-bottom: 344px;

  &__info {
    max-width: 420px;

    &-text {
      margin-top: 40px;
      color: $gray-70-color;
    }
  }

  &__form {
    margin-left: 17.2%;
  }
}

.password-recovery-form {
  &__subtitle {
    margin-top: 15px;
    color: $gray-70-color;
  }

  &__content {
    margin-top: 40px;
  }

  &__field {
    & + & {
      margin-top: 24px;
    }
  }

  &__email, &__password {
    min-width: 312px;
  }

  &__forgot-password {
    text-align: end;
    color: $gray-70-color;
    margin-bottom: 24px;
  }
}