@import '../../../../scss/variables';

.currency-rates {
  &__table {
    display: inline-block;
    margin-top: 20px;
    padding: 24px;
    border-radius: 16px;
    background-color: $additional-gray-1-color;
  }
}

.currency-rates-table {
  
  &__element {
    padding: 8px 47px;
  }

  &__row {
    border-top: 1px solid $gray-30-color;
  }
}