@import '../../scss/variables';

.create-card {
  padding: 40px 56px 300px 56px;
}

.create-card-form {
  margin-top: 70px;

  &__fields {
    max-width: 392px;
  }

  &__field {
    & + & {
      margin-top: 40px;
    }
  }

  &__controls {
    margin-top: 72px;
  }

  &__control {
    width: 288px;

    & + & {
      margin-left: 24px;
    }
  }
}

.type-of-card {
  max-width: 184px;
  margin-top: 24px;
  border-radius: 16px;
  background-color: $additional-gray-1-color;
  &__item {
    padding: 8px 0;

    &--radio {
      display: none;
    }

    &--label {
      cursor: pointer;
      padding: 8px 24px;
      border-radius: 16px;
    }

    &--radio:checked + &--label {
      background-color: $primary-color;
    }
  }
}

.payment-system {
  margin-top: 24px;
  &__item {
    & + & {
      margin-left: 24px;
    }
    &--radio {
      display: none;
    }

    &--label {
      cursor: pointer;
      display: inline-block;
    }

    &--title {
      font-weight: 500;
      margin-top: 8px;
      font-size: 1rem;
    }

    &--img {
      display: inline-block;
      min-height: 80px;
      & > img {
        max-width: 40px;
      }
      padding: 26px 72px;
      border-radius: 8px;
      background-color: $additional-gray-1-color;
    }

    &--radio:checked + &--label > &--img {
      background-color: $primary-color;
    }
  }
}

.limits-toggler {
  &__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    border-radius: 20px;

    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 6px;
      bottom: 3px;
      background-color: $gray-50-color;
      border-radius: 50%;
      transition: 0.3s;
    }
  }

  &__input:checked + &__span:before {
    background-color: $focused-button-primary-color;
    transform: translateX(24px);
  }
}

.limits {
  margin-top: 24px;

  &__item {
    & + & {
      margin-top: 27px;
    }
  }
}

.card-colors {
  margin-top: 24px;
  
  &__label {
    cursor: pointer;

    & + & {
      margin-left: 24px;
    }
  }

  &__radio {
    display: none;
    &:checked + .credit-card {
      border: 4px solid $focused-button-primary-color;
    }
  }
}

.credit-card {
  min-width: 288px;
  max-width: 288px;
  height: 201px;
  padding: 24px;
  border-radius: 16px;
  &--dark {
    background-color: $additional-gray-2-color;
  }
  
  &--gold {
    background-color: $gold-card-color;
  }

  & + & {
    margin-left: 25px;
  }

  &__title {
    &--dark {
      color: $gray-10-color;
    }

    &--gold {
      color: $gray-100-color;
    }
  }

  &__balance {
    &--dark {
      color: $gray-0-color;
    }

    &--gold {
      color: $gray-100-color;
    }
  }

  &__balance-title {
    margin-top: 5px;
    &--dark {
      color: $gray-10-color;
    }

    &--gold {
      color: $gray-100-color;
    }
  }

  &__number {
    &--dark {
      color: $gray-10-color;
    }

    &--gold {
      color: $gray-100-color;
    }
  }

  &__payment-system {
    width: 40px;
  }
}