@import '../../scss/variables';

.input-field {
  border: 1px solid $gray-30-color;
  border-radius: 16px;
  padding: 12px 16px;
  font-size: 1rem;
  width: 100%;

  &::placeholder {
    color: $gray-50-color;
    font-size: 1rem;
  }

  &:focus {
    border-color: $gray-100-color;
  }

  &--disabled {
    cursor: no-drop;
    border-color: $gray-50-color;
    color: $gray-50-color;
  }

  &--success {
    border-color: $success-color;
  }

  &--incorrect {
    border-color: $error-color;
  }

  &--warning {
    border-color: $warning-color;
  }
}

.input-label {
  display: block;
  font-weight: 700;
  padding-bottom: 8px;
}

.additional-info {
  margin-top: 8px;
  & span {
    display: block;
  }

  &__msg {
    margin-top: 1px;
    margin-left: 8px;
  }
}

.success {
  color: $success-color;
}

.incorrect {
  color: $error-color;
}

.warning {
  color: $warning-color;
}