@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import 'scss/variables';

@import 'scss/mixins';
@import 'scss/reset';
@import 'scss/helpers';

@include make-titles();
@include make-texts();

.container {
  max-width: 92%;
  padding: 0 15px;
  margin: 0 auto;
}