.wallet {
  &__add-card {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0;
    display: flex;
    align-items: center;
    &--icon {
      margin-left: 10px;
      font-size: 0.8rem;
      line-height: 0;
    }
  }

  &__info, &__empty {
    margin-top: 36px;
  }
}

