* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $html-font-size;
}

body {
  color: $body-font-color;
  font: $body-fw calc($body-fz/$body-lh) $body-font;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

input,
textarea,
fieldset,
span,
select {
  background-color: transparent;
  border: 0;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}