@import '../../../../../scss/variables';

.recent-messages {
  width: 100%;
  padding: 32px;
  border-radius: 8px;
  background-color: $additional-gray-1-color;

  &__search {
    font-size: 1.7rem;
    line-height: 0;
  }

  &__users {
    margin-top: 32px;
    height: 350px;
  }

  &__more {
    width: 100%;

    & svg {
      font-size: 1.5rem;
      line-height: 0;
      margin-right: 8px;
    }

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.user-messages {

  & + & {
    margin-top: 24px;
  }

  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__name {
    font-size: 0.875rem;
    font-weight: 500;
  }

  &__last-activity {
    margin-top: 8px;
    font-size: 0.75rem;
    font-weight: 700;
    color: $gray-50-color;
  }

  &__info {
    margin-left: 12px;
  }
}